
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 5px;
    height: auto;
  }
  
  nav li {
    display: inline-block;
    height: auto;
  }
  
  nav a {
    display: block;
    padding: 0px 10px;
    text-decoration: none;
    color: rgb(222, 219, 219);
    text-align: center;
    height: auto;
    
  }
  
  nav {
    background-color: rgb(52, 53, 52);
    padding: 20px;
    height: auto;
    
  }

  
  
 /* Photo */
  
  .bottom-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: auto;
    
  }
  /* Photo px */
  .bottom-center img {
    width: 400px;
    height: auto;
    margin-right: 10px;
    height: auto;
    
  }
  
  /* Head */
  h2 {
    text-align: center;
    margin-top: 20px;
    height: auto;
    
  }

  /* Troisiéme photo */

  .img-container {
    position: absolute;
    bottom: 5;
    left: 0;
    display: block;
    align-items: flex-end;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-size: 100% 100%;
   
    
  }

  .img-container img {
    height: auto;
    width: 200px;
    

    
  }

  /* Dernier Etape */

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: auto;
    
  }

  form {
    background-color: rgb(48, 47, 47);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #232323;
    width: 35%;
    color: rgb(208, 204, 204);
    align-items: end;
    float: right;
    height: auto;
  }

  label {
    display: block;
    margin-bottom: 5px;
    height: auto;
    
    
    
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    height: auto;
  }

  input[type="submit"] {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: auto;
  }

  input[type="submit"]:hover {
    background-color: black;
    color: rgb(55, 53, 53);
    height: auto;
  }


  /* Button */

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    height: auto;
  }

  .button {
    display: block;
    padding: 0px 10px;
    text-decoration: none;
    color: rgb(222, 219, 219);
    text-align: center;
    border-radius: 5px;
    background-color:rgb(70, 69, 69);
    height: auto;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    height: auto;
  }

  .button:hover span {
    padding-right: 25px;
    height: auto;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
    height: auto;
  }

  /* JS */
  template {
    display: none;
    height: auto;
  }
  
  template[id="myTemplate"] {
    background-color: lightgray;
    border: 1px solid black;
    padding: 10px;
    height: auto;
  }
  

  /* Responsive */

  @media only screen and (max-width: 576px) {
  
    nav {
      padding: 10px;
    }

  }

  



 